<?xml version="1.0" ?>
<robot name="11.f3d">

<material name="silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

<link name="base_link">
  <inertial>
    <origin xyz="0.0 0.0 0.075" rpy="0 0 0"/>
    <mass value="0.29452431127404316"/>
    <inertia ixx="0.0005982525072754001" iyy="0.0005982525072753975" izz="9.203884727313716e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
    <material/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
